In [1]:
from sqlalchemy import create_engine
import pymysql

import pandas as pd

db_connection_str = 'mysql+pymysql://u13737_SsHob9K0sX:eRgW3EEkQpVX+WWX^geAsKYN@190.115.196.20:3306/s13737_esme_analytics'
db_connection_str_gnomo = 'mysql+pymysql://root:@127.0.0.1:3306/gnomo_stats'

db_connection = create_engine(db_connection_str)
db_connection_gnomo = create_engine(db_connection_str_gnomo)

In [2]:
query = "SELECT * FROM player as P INNER JOIN stats AS S ON S.uuid = P.uuid"
df = pd.read_sql(query, con=db_connection)

In [3]:
pivotado = df.pivot(index='name', columns='stat', values='val')

In [4]:
pivotado.head()

stat,AVIATE_ONE_CM,BOAT_ONE_CM,CHEST_OPENED,CROUCH_ONE_CM,DAMAGE_DEALT,DAMAGE_TAKEN,DEATHS,FISH_CAUGHT,ITEM_ENCHANTED,MOB_KILLS,...,z:slain_0003_SPIDER,z:slain_0003_VINDICATOR,z:slain_0003_WOLF,z:slain_0003_ZOMBIE,z:slain_0003_ZOMBIFIED_PIGLIN,z:slain_kind,z:sword,z:total_size,z:trident,z:world_size
name,,,,,,,,,,,,,,,,,,,,,
0nzA_19,0.0,0.0,5.0,0.0,115.0,466.0,2.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,0.0,NaN
1609ms,6104142.0,1474388.0,639.0,520486.0,153981.0,40906.0,96.0,0.0,44.0,4572.0,...,NaN,NaN,NaN,13.0,NaN,11.0,1723.0,NaN,2.0,NaN
1NarutoDalmagro,0.0,397107.0,781.0,72241.0,19499.0,17036.0,26.0,3.0,0.0,435.0,...,NaN,NaN,NaN,NaN,NaN,5.0,0.0,NaN,0.0,NaN
22min,0.0,0.0,63.0,1020.0,1146.0,298.0,1.0,0.0,0.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.0,25.0,NaN,0.0,NaN
3MPlayer,0.0,2877.0,543.0,164659.0,52073.0,26694.0,39.0,0.0,0.0,339.0,...,NaN,NaN,NaN,5.0,NaN,4.0,951.0,NaN,0.0,NaN

In [5]:
#pivotado.to_sql('estatisticas', db_connection_gnomo, if_exists='append')
pivotado.to_sql('estatisticas', db_connection, if_exists='append')